body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}

.flexible-container{
    display: flex;
    align-items: center;
  
}
h1{
    font-size: 40px;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width img{
    width: 80%;
}

.orange{
    color: orange;
}
.border-radius{
    border-left: 5px solid;
    border-radius: 2px;
    padding-left:5px;
    border-image: linear-gradient(rgb(255, 17, 0), rgb(255, 0, 157));
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
.center{
    text-align: center;
}

.my-mission{
    
   
    width: 28%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left:20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 10px 10px 20px  gray;
   
}
.my-mission img{
    width: 50%;
}
.font{
    font-size: 17px;
}
#color-one{
    background-color: aquamarine;
}
#color-two{
    background-color:aqua;
}
#color-three{
    background-color: rgb(0, 195, 255);
}

.bgimage{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.bgimageone{
    background-image: url(images/shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.footer-color{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;
     

}

